body {
  background-color: bisque;
  text-align: center;
  width: 390px;
  margin: 0 auto;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #9acd32;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.logo {
  font-weight: bold;
  color: #9acd32;
}

.search-bar {
  position: relative;
}

.search-bar ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  line-height: 38px;
  text-align: right;
}

.search-bar li {
  margin-right: 10px;
}

.shortcut-list li {
  width: 25%;
}

footer {
  margin-top: 40px;
}

footer ul {
  width: 70%;
  margin-bottom: 15px;
  margin: 0 auto;
}
